<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('components/header.ejs')%>
  </head>
  <body>
    <%- include('components/navbar.ejs')%>
    <div class="main-container">
      <%- include('components/post-banner.ejs')%>
      <% if(locals.message.success){%>
      <div class="alert-success"><%=message.success %></div>
      <%} %>
      <div class="content-container">
        <div class="row">
          <% if(posts.length){%> <% posts.forEach(post=>{%>
          <div class="col-md-3">
            <div class="d-post">
              <div class="image">
                <img src="/assets/storage/uploaded/images/<%= post.image %>" />
              </div>
              <div class="title"><a href="/post-detail/<%=post._id%>"><%= post.title %></a></div>
              <div class="body">
                <% if(post.body.length<100){%> <%=post.body %> <%}else {%> <%=
                post.body.substring(0,100) %> .... <%} %>
              </div>
            </div>
            <div class="footer">
              <span class="creator"><%=req.auth_user.full_name%></span>
              <span class="time"
                ><%= formate(post.updatedAt,'d mmmm,yyyy') %></span
              >
            </div>
          </div>
          <%}) %> <%}else{ %>
          <div class="no-result">
            No Posts found.
            <a href="/create-post">Create first by clicking here</a>
          </div>
          <% } %>
        </div>
        <div class="paination">
          <% let no_of_pages = Math.ceil(total_posts / per_page);
              let start_loop = current_page-1; 
              let end_loop = current_page+1;
            if(no_of_pages>5){
              // let diff = no_of_pages - current_page;
              if(start_loop<2){
                start_loop=2;
                end_loop = start_loop+2;
              }
              if(current_page>=no_of_pages || no_of_pages-1==current_page || no_of_pages-2==current_page){
                start_loop=no_of_pages-3;
                end_loop = start_loop+2;
              }
              
            } else if(no_of_pages>2){
              start_loop=2
              end_loop=no_of_pages-1;
            }
            

          if(total_posts>per_page){ 
          %>
          <!--<div class="records">
          <%=//(current_page*per_page-per_page)+1 %>-<%//=(current_page*per_page-per_page)+per_page <total_posts ? (current_page*per_page-per_page)+per_page : total_posts %> of <%//=total_posts%>
          </div>-->
          
          <%if(current_page>1){%>  
            <div class="prev">
            <a href="/all-posts/<%=current_page-1%>">Previous</a>
            </div>
          <%}%>
          
          <div class="number <%=current_page==1 ? 'active' : 'inactive' %>">
            <a href="/all-posts/1">1</a>
          </div>
          <%if(current_page>=4 && no_of_pages>5){%>
            <div class="dots">  
            ....
           </div>
          <%}%>
            <%
            if(no_of_pages>2)
              for(i=start_loop;i<=end_loop;i++){
            %>
            <div class="number <%=current_page==i ? 'active' : 'inactive' %>">
              <a href="/all-posts/<%=i%>"><%=i%></a>
            </div>
            <%}%>
          
          <%if((no_of_pages - current_page)>2 && no_of_pages>5){%>  
            <div class="dots">
            ....
            </div>
          <%}%>
          <div class="number <%=current_page==no_of_pages ? 'active' : 'inactive' %>">
            <a href="/all-posts/<%=no_of_pages%>"><%=no_of_pages%></a>
          </div>
            <%if(current_page<no_of_pages){%>  
              <div class="next">
                <a href="/all-posts/<%=current_page+1%>">Next</a>
              </div>
          <%}%>  
          

          <%}%>
        </div>
      </div>
    </div>
  </body>
</html>
